<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IamBilingual.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E2917EFC1C8BA1A3001C8179</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2917F151C8BA1A3001C8179</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2917F201C8BA1A3001C8179</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
